
.hide {
    display: none;
}


.category-products {
    @media ( max-width: 1024px )
    {
        padding-left: 58px;
    }
    @media ( max-width: 375px )
    {
        padding-left: 20px;
    }
}



.category-title-second {
    margin-top: 60px;
    font-family: 'Montserrat';
   font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 49px;
text-transform: uppercase;
color: #1E0606;
@media ( max-width: 1024px )
        { 
            font-size: 36px;
            line-height: 44px;
        }
        @media ( max-width: 375px )
        { 
            font-size: 24px;
            line-height: 29px;
        }
}

.vector-button-head {
    
    list-style-type: none;
    padding-left: 0;     
    display: flex;
    align-items: center;
    
}
.nav-vector-button-home {
    font-family: 'Crimson Text';
font-style: italic;
font-weight: normal;
font-size: 20px;
line-height: 25px;
color: #1E0606;
margin-right: 20px;


        
        @media ( max-width: 375px )
        { 
            font-size: 16px;
            line-height: 20px;
        }
    }
.vector {
    
    margin-right: 20px;


}
.nav-vector-button-catalog {
   
    font-family: 'Crimson Text';
font-style: italic;
font-weight: normal;
font-size: 20px;
line-height: 25px;
color: #1E0606;
opacity: 0.5;
@media ( max-width: 375px )
        { 
            font-size: 16px;
            line-height: 20px;
        }
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 215px);
    @media ( max-width: 1024px )
        { 
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: 278px 430px 430px 430px 350px 350px 215px;
        }
        @media ( max-width: 375px )
        { 
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: 278px 530px 322px 309px 512px 300px 200px 596px 320px;
        }
    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
      &_laern {
        font-family: 'Lato';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        color: #2198F4;
        }
      &_download {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: underline;
        color: #2198F4;
      }  
      &_text {
        font-family: 'Lato';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;             
        
        color: #BCBCBE;        
      }  
      
      
      &_1 {
        background-color: #FFFFFF; 
        grid-column: 1/3;
        grid-row: 1/3;
        position: relative;
        


        &_text {
            margin-right: 44%;
            @media ( max-width: 375px )
            {
                margin-right: auto;
                padding-left: 20px;
            }
        }

        &_touch {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            color: #2C3036;
        }

        &_more {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #BCBCBE;
        }
        &_iphone {
            font-family: 'Lato';
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            color: #BCBCBE;
        }
       
        &_phone {
            position: absolute;
            bottom: 0;
            right: 80px;
        }

        @media ( max-width: 1024px )
        { 
            grid-column: 1/3;
            grid-row: 2/3;
            
        }
        @media ( max-width: 375px )
        { 
            grid-column: 1/2;
            grid-row: 2/3;
            display: block;
            
        }
    }
          
      &_2 {
        background-color: #F7F8FA;  
        grid-column: 3/5;
        grid-row: 1/3;
        @media ( max-width: 1024px )
        { 
            grid-column: 1/3;
            grid-row: 1/2;
            
        }
        @media ( max-width: 375px )
        { 
            grid-column: 1/2;
            grid-row: 1/2;

            
        }
        &_all-text {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &_big-text {
            font-family: 'Lato';
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 58px;
            text-align: center;        
            margin: 0;
            color: #2C3036;

            @media ( max-width: 1024px )
            {
                font-size: 35px;
                line-height: 42px;
          } 
        }
      } 
      &_3 {
        background-color: #EF5539;
        grid-column: 1/2;
        grid-row: 3/5;

        &_text {
            font-family: 'Lato';
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;
            text-align: center;
            color: #FFFFFF;
        }
        &_a {
            font-family: 'Lato';
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            color: #FFC80A;
        }
        @media ( max-width: 1024px )
        { 
            grid-column: 1/2;
            grid-row: 3/4;
            
        }
        @media ( max-width: 375px )
        { 
            grid-column: 1/2;
            grid-row: 3/4;
            
        }
      }
      &_4 {
        background-color: #FFFFFF;
        grid-column: 2/4;
        grid-row: 3/5;
        position: relative;
        
        
        &_imac {
            font-family: 'Lato';
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            color: #BCBCBE;
            margin: 0;
            
        }
 
        &_hardly {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            color: #2C3036;
            margin-bottom: 53px;
        }  
        
        &_comp {
            display: flex;
            flex-direction: column;
            align-items:initial;
            width: 37%;
            @media ( max-width: 375px )
            {
                width: auto;
            }
            
        }

        &_text2 {
            width: 37%;
            @media ( max-width: 375px )
            {
                width: auto;
            }
        }

        &_text3 {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #BCBCBE;

        }

        &_old-comp {
            position: absolute;
            bottom: 0;  
            right: 53%;
            @media ( max-width: 375px )
            {
                position: initial ;
            }
        }

        &_link {
            font-family: 'Lato';
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            color: #2198F4;
            margin-bottom: 186px;

        }
        
        @media ( max-width: 1024px )
        { 
            grid-column: 1/3;
            grid-row: 4/5;
        }
        @media ( max-width: 375px )
        { 
            grid-column: 1/2;
            grid-row: 5/6;
            display: flex;
            flex-direction: column;
            
        }
      }
      &_5 {
        background-color:#8F75BC;  
        grid-column: 4/5;
        grid-row: 3/7;
      
        &_ic {
          font-family: 'Lato';
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 38px;
          text-align: center;
          color: #FFFFFF;
        }
        &_with {
          font-family: 'Lato';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          color: #FFFFFF;
        }
        &_column {
            display: flex;
            flex-direction: column;
            align-items: center;
        
        }

        &_button {
          background-color: #FFC80C;
          border-radius: 27px;
          border: none;
          display: flex;
          flex-direction: row;
          padding: 19px 41px;
          cursor: pointer;
        }
        @media ( max-width: 1024px )
        { 
            grid-column: 2/3;
            grid-row: 5/7;
            
        }
        @media ( max-width: 375px )
        { 
            grid-column: 1/2;
            grid-row: 8/9;
            
        }
      }
      &_6 {
        background-color: #93B7B7;
        grid-column: 1/3;
        grid-row: 5/7;
        position: relative;
        overflow: hidden;
        
        &_texts {
          display: flex;
          justify-content: center;
          font-family: 'Lato';
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          line-height: 26px;
          text-align: center;
          color: #FFFFFF;
        }

        &_lap {
            position: absolute;
            bottom: -6px;
        
        }
        @media ( max-width: 1024px )
        { 
            grid-column: 1/2;
            grid-row: 5/6;
            
        }
        @media ( max-width: 375px )
        { 
            grid-column: 1/2;
            grid-row: 6/7;
            
        }
      }
      &_7 {
        background-color: #F7F8FA;  
        grid-column: 3/4;
        grid-row: 5/7;
        &_joy-text {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            text-align: center;
            color: #2C3036;
        }
        @media ( max-width: 1024px )
        { 
            grid-column: 2/3;
            grid-row: 3/4;
           
        }
        @media ( max-width: 375px )
        { 
            grid-column: 1/2;
            grid-row: 4/5;
            
        }
      }
      &_8 {
          
        background-color: #F7F8FA;  
        grid-column: 1/2;  
        grid-row: 7/8;
        @media ( max-width: 1024px )
        { 
            grid-column: 1/2;
            grid-row: 6/7;
            
        }
        @media ( max-width: 375px )
        { 
            grid-column: 1/2;
            grid-row: 7/8;
            
        }
        &_insta {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &_top {
          margin-bottom: 15px;
        }
      }
      &_9 {
        background-color:#2C2C2C;  
        grid-column: 2/5;  
        grid-row: 7/8;
        @media ( max-width: 1024px )
        { 
            grid-column: 1/3;
            grid-row: 7/8;
            
        }
        @media ( max-width: 375px )
        { 
            grid-column: 1/2;
            grid-row: 9/10;
            display: block;
            
        }
        &_tv {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            color: #FFFFFF;
            margin-left: 80px;
        }
      }
    }
}