







.design-Life-kids-small {
    width: 100%;



    font-family: 'Open Sans';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
}

.design-Life-kids-back {
    width: 100%;

background: #E1F0F7;


    
}

.contactss {
    background: #E1F0F7;
    width: 100%;
    margin-left: 57px;

}




.category-title {
    font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 46px;
text-transform: uppercase;
color: #1E0606;
margin-top: 90px;


}

.categore-products {
   
    padding: 0 15px;
    overflow: hidden;

}

.category {
    width: 280px;
    min-width: 280px;
    height: 270px;
    @media (max-width: 768px)
   {
    width: 259px;
    min-width: 259px;
    height: 249px;
    @media (max-width: 375px)
 {
    width: 247px;
    min-width: 247px;
    height: 238px;
}
}
}

.category-pictyre {
    list-style-type: none;
   padding: 0;
   display: flex;
   justify-content: space-between;
   margin-top: 30px;
   

}


.hidden {
    display: none
}
.arrows {
    display: flex;
    align-items: center;
    
}

.arrow {
    max-width: 37px;
    max-height: 37px;
padding: 0;
border: 0;
margin-right: 6px;
width: 100%;
@media (max-width: 768px)
 {
    max-width: 36px;
    max-height: 36px;
    @media (max-width: 375px)
 {
    max-width: 33px;
    max-height: 33px;
    padding: 2px 0 0;
}
 }
}

.HZ {
    margin-left: 20px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #1E0606;
    
}

.later {
    position: relative;
}

.lattery {
    position: relative;
    margin-right: 20px;

}

.lattery-a {
    position: absolute;
    left:  8.14%;
    right: 22.5%;
    top: 24.15%;
    transform: translate(10%);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    
    text-transform: uppercase;
    color: #FFFFFF;
}
.lattery-a:hover {
    text-decoration-line: underline;
}

.lattery-zz{
   
    position: absolute;
left: 7.14%;
right: 22.5%;
top: 27.15%;
/* bottom: 38.15%; */
transform: translate(10%);
font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 32px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.lattery-zz:hover {
    text-decoration-line: underline;
}


.about-purchase {
  display: flex;
  margin-top: 94px;
  padding: 0 15px;
  overflow: hidden;
  
    
    
        @media (max-width: 375px)
     {
        padding: 0 15px;
        flex-wrap: wrap;
    }
    
    
 
  
}

.woman {
    
    margin-left: 120px;
    @media (max-width: 375px) 
    {
        margin-left: 0;
    }
   
}

.button-delivery {
    
    display: flex;
    flex-direction: column;
    border: 0;
}
  


.delivery-title {
    font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 46px;
text-transform: uppercase;
color: #1E0606;
margin-top: 30px;
}


.button-delivery-first {
    font-family:'Crimson Text';
font-style: italic;
font-weight: normal;
font-size: 26px;
line-height: 32px;

height: 33px;
left: 710px;
top: 1392px;
color: #1E0606;
margin-bottom: 22px;

}

.button-delivery-first:hover {
    font-weight: bold;
    width: 326px;
    background-color:rgba(112, 187, 220, 0.2);

}

.woman-text {
    width: 480px;


font-family: 'Open Sans';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
@media (max-width: 768px)
{
    font-size: 14px;
line-height: 19px;
}



color: #1E0606;
}

.woman-button {
margin-top: 26px;
}



.modal-bg {
    position: fixed;
    background-color: rgba(125, 151, 218, 0.8);
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}



.modal-window {
    
    background-color: #E5EAF8;
    padding: 50px;
    position: relative;
    padding-top: 23px;
    
    
}





.form-row-290 {
    position: relative;
    padding-top: 23px;
    width: 290px;
}

.form-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
    width: 600px;

}

.form-label {
    top: 6px;
    position: absolute;
}

.form-input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
} 

.modal-close {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: -10px;
    padding: 0px;

}




.form-row-end-290 {
    
    width: 290px;
}

.form-row-end {
    
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
    width: 600px;
    margin-top: 20px;
}

.form-label-end {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;


    color: #1E0606;
    top: 0;
    position: absolute;
}

.form-input-end {
    font-family: 'Roboto' ;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #1E0606;
    padding: 12px 18px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    
    box-sizing: border-box;
}

.by-click-on {
    display: flex;
    justify-content: start;
    align-items: center;
}

.click-true {
    margin-left: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-top: 20px;    
    color: #1E0606;
}

.modal-bg-1 {
    position: fixed;
    background: rgba(125, 151, 218, 0.8);
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
}
.modal-bg_close {
    display: none;
}

.modal-window-1 {
    position: relative;
    padding: 50px;
    background-color: #EEEEEE;
    margin: auto;
}

.rectangle {
    width: 31px;
    margin-bottom: 11px;
}

.rectangle-1 {
    display: flex;
    flex-direction: column;
        align-items: flex-start;
        
}







.category-title-second {
    margin-top: 60px;
    font-family: 'Montserrat';
   font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 49px;
text-transform: uppercase;
color: #1E0606;
@media ( max-width: 768px )
        { 
            font-size: 36px;
            line-height: 44px;
        }
        @media ( max-width: 375px )
        { 
            font-size: 24px;
            line-height: 29px;
        }
}

.vector-button-head {
    
    list-style-type: none;
    padding-left: 0;     
    display: flex;
    align-items: center;
    
}
.nav-vector-button-home {
    font-family: 'Crimson Text';
font-style: italic;
font-weight: normal;
font-size: 20px;
line-height: 25px;
color: #1E0606;
margin-right: 20px;


        
        @media ( max-width: 375px )
        { 
            font-size: 16px;
            line-height: 20px;
        }
    }
.vector {
    
    margin-right: 20px;


}
.nav-vector-button-catalog {
   
    font-family: 'Crimson Text';
font-style: italic;
font-weight: normal;
font-size: 20px;
line-height: 25px;
color: #1E0606;
opacity: 0.5;
@media ( max-width: 375px )
        { 
            font-size: 16px;
            line-height: 20px;
        }
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 215px);
    @media ( max-width: 768px )
        { 
            grid-template-columns: repeat(2, 1fr);
            
        }
    &__box {
        display: flex;
        justify-content: center;
        align-items: center;

      &_1 {
        background-color: aqua; 
        grid-column: 1/3;
        grid-row: 1/3;
        @media ( max-width: 768px )
        { 
            grid-column: 1/3;
            min-height: 430px;
        }
    }
          
      &_2 {
        background-color: aquamarine;  
        grid-column: 3/5;
        grid-row: 1/3;
        @media ( max-width: 768px )
        { 
            grid-column: 1/3;
            min-height: 278px;
        }
      } 
      &_3 {
        background-color: blue;
        grid-column: 1/2;
        grid-row: 3/5;
        @media ( max-width: 768px )
        { 
            grid-column: 1/2;
            min-height: 430px;
        }
      }
      &_4 {
        background-color: blueviolet;
        grid-column: 2/4;
        grid-row: 3/5;
        @media ( max-width: 768px )
        { 
            grid-column: 1/3;
            min-height: 430px;
        }
      }
      &_5 {
        background-color: brown;  
        grid-column: 4/5;
        grid-row: 3/6;
        @media ( max-width: 768px )
        { 
            grid-column: 2/3;
            min-height: 700px;
        }
      }
      &_6 {
        background-color: chartreuse;
        grid-column: 1/3;
        grid-row: 5/6;
        @media ( max-width: 768px )
        { 
            grid-column: 1/2;
            min-height: 350px;
        }
      }
      &_7 {
        background-color: chocolate;  
        grid-column: 3/4;
        grid-row: 5/6;
        @media ( max-width: 768px )
        { 
            grid-column: 2/3;
            min-height: 430px;
        }
      }
      &_8 {
          
        background-color: #F7F8FA;  
        grid-column: 1/2;  
        grid-row: 6/7;
        @media ( max-width: 768px )
        { 
            grid-column: 1/2;
            min-height: 350px;
        }
        &_insta {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
      }
      &_9 {
        background-color:#2C2C2C;  
        grid-column: 2/5;  
        grid-row: 6/7;
        @media ( max-width: 768px )
        { 
            grid-column: 1/3;
            min-height: 215px;
        }
        
      }
    }
}